body {
    margin: 0px;
    padding: 0%;
    /* aspect-ratio: 16/9; */
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
} 

#bg{
    background-image: url("./Media/Background.png");
    width: 100%;
    height:100%;
    background-size: 100%;
    background-position: bottom;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}


#title{
    background-color:rgba(241, 217, 217, 0.582);
    justify-content: center;
    border: 10px rgba(94, 59, 31, 0.527) solid;
    border-radius: 10px ;
    padding: 10px;
}


main{
    width: 90%;
    height: 75%;
}

#startPage {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    height: 100%;
    margin-top: auto;
}

#intro{
    margin-top: auto;
    scale: 2;
    color: white;
    transform: scale(3);
    transition-duration: 1s;
}

#titleImgs {
    display:flex;
    align-items: center;
    justify-content:space-between;
    width: 90%;
}

img {
    width:300px; 
}

#startMole{
    margin-top: auto;
    width: 350px;
}

#playArea{
    background-color: #7C4C26;
    border: 10px #1C843F solid ;
    border-radius: 5%;
    width: 90%;
    height:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameStats{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.stat{
    background-color: aliceblue;
    padding: 5px;
    scale: 1.5;
    display: flex;
    border: rgb(177, 175, 175) 5px solid;
    border-radius: 5%;
    
}

p{
    margin: 0%;
}

#leftStat{
    display: flex;
    width: 200px;
}

#rightStat{
    display: flex;
    width: 200px;
    justify-content: space-between;
}

#gameGrid{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows:repeat(3, 80px);
    background-color: #9CC527;
    border:10px #FCFF7D solid;
    border-radius:5%;
    width: 500px;
    padding:5%;
    gap:25px;
    /* position: absolute; */
    /* box-sizing: border-box; */
}

.hole{
    background: url(./Media/hole.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 5rem;
    align-self: baseline;
}

.hole:hover{
    backdrop-filter: grayscale(20%);
}

#gameOverScreen{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    /* margin-top: 250px; */
}

#gameOverText{
    color: white;
    font-size:500%;
    margin-bottom: 0px;
}
#restartMole{
    margin-top: 150px;
}

#tryAgain{
    color: white;
    font-size: xxx-large;
}